[submodule "luc-app-smartdns"]
	path = luci-app-smartdns
	url = https://github.com/pymumu/luci-app-smartdns.git
	branch = lede
[submodule "openwrt-smartdns"]
	path = openwrt-smartdns
	url = https://github.com/pymumu/openwrt-smartdns.git
[submodule "lua-maxminddb"]
	path = lua-maxminddb
	url = https://github.com/jerrykuku/lua-maxminddb.git
[submodule "luci-app-vssr"]
	path = luci-app-vssr
	url = https://github.com/jerrykuku/luci-app-vssr.git
